*{box-sizing: border-box;}
body{
     background: linear-gradient(to right,white,orange);
    }
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
    padding-bottom: 20px;
}

table, th, td{
    border: 1px solid;
    width: 400px;
}

ul{
    list-style: none;
}

footer{
    text-align: center;
}